body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', cursive;
    // font-family: 'Montserrat', sans-serif;
    background-color: rgba(211, 211, 211, 0.2509803922);
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        text-align: center;
        color: #001A33;
        font-size: 4rem;
    }

    .introduction__demoImage {
        border: solid #001A33 9px;
        border-radius: 20px;
        max-width: 1100px;
        max-height: 584px;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }
}

.offer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    h1 {
        text-align: left;
        color: #001A33;
        font-size: 3rem;
    }
    div.offer-cards {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        h2 {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            margin: 0;
            padding: 0;
        }
        .wide-card {
            &:hover {
                background-color: white;
                transition: box-shadow 350ms ease, transform 375ms cubic-bezier(.175, .885, .32, 1.275), background-color 325ms ease;
                box-shadow: 0 14px 71px 0 rgba(35, 35, 35, 0.2);
            }
            display: flex;
            grid-column-start: span 2;
            grid-column-end: span 2;
            padding: 20px 40px 30px 20px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ececec;
            border-radius: 14px;
            background-color: #fbfbfb;
            box-shadow: 0 14px 17px 0 rgba(35, 35, 35, 0.05);
            transition: box-shadow 350ms ease, transform 375ms cubic-bezier(.175, .885, .32, 1.275), background-color 325ms ease;

            .small-grey-card {
                max-width: 325px;
            }

            .card-image-holder {
                max-width: 240px;

                img {
                    display: inline-block;
                    max-width: 100%;
                    border-radius: 10px;
                }
            }
        }
        .card {
            &:hover {
                background-color: white;
                transition: box-shadow 350ms ease, transform 375ms cubic-bezier(.175, .885, .32, 1.275), background-color 325ms ease;
                box-shadow: 0 14px 71px 0 rgba(35, 35, 35, 0.2);
            }
            display: flex;
            justify-content: end;
            line-height: 1.5rem;
            flex-direction: column;
            padding: 30px 20px;
            box-shadow: rgba(100, 100, 111, 0.1) 0 7px 29px 0;
            background-color: #fbfbfb;
            border-radius: 15px;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    .features-holder {
        display: flex;
        width: 100%;
        flex-direction: column;
        grid-column-gap: 60px;
        grid-row-gap: 120px;

        .grid-layout-img-l {
            display: grid;
            grid-column-gap: 130px;
            grid-row-gap: 130px;
            grid-auto-columns: 1fr;
            grid-template-columns: 1.25fr 1fr;
            grid-template-rows: auto;

            .left-el {
                width: 100%;
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 1;
                grid-row-end: span 1;

                &::after {
                   content: "";
                   position: absolute;
                   bottom: 0;
                   left: 0;
                   width: 100%;
                   height: 30%;
                }

                .feature {
                    width: 100%;
                    display: inline-block;
                    max-width: 100%;
                    vertical-align: middle;
                    border-radius: 10px;
                }
            }

            .right-el {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-column-gap: 50px;
                grid-row-gap: 50px;
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 1;
                grid-row-end: span 1;

                .content {

                    .title {
                        font-size: 2rem;
                        color: #001A33;

                        h3 {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .grid-layout-img-r {
            display: grid;
            grid-column-gap: 130px;
            grid-row-gap: 130px;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1.25fr;
            grid-template-rows: auto;

            .right-el {
                width: 100%;
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 1;
                grid-row-end: span 1;

                &::after {
                   content: "";
                   position: absolute;
                   bottom: 0;
                   left: 0;
                   width: 100%;
                   height: 30%;
                }

                .feature {
                    width: 100%;
                    display: inline-block;
                    max-width: 100%;
                    vertical-align: middle;
                    border-radius: 10px;
                }
            }

            .left-el {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-column-gap: 50px;
                grid-row-gap: 50px;
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 1;
                grid-row-end: span 1;

                .content {

                    .title {
                        font-size: 2rem;
                        color: #001A33;

                        h3 {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.pricing {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 4rem;
    .modalSwitch {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .left {
            color: white;
            background-color: #82A0D8;
            padding: 0.9rem 1rem;
            border-radius: 20px;
            p {
                margin: 0;
                font-size: 13px;
            }
        }
        .right {
            padding: 0.9rem 1rem;
            border-radius: 20px;
            p {
                margin: 0;
                font-size: 13px;
            }
        }
    }
    .pricing__card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        max-width: 1200px;
        .pricing__card {
            display: flex;
            flex-direction: column;
            padding: 1.2rem;
            border-radius: 14px;
            box-shadow: 0 14px 17px 0 rgba(35, 35, 35, 0.05);
            background-color: #fbfbfb;
            &:hover {
                background-color: white;
                transition: box-shadow 350ms ease, transform 375ms cubic-bezier(.175, .885, .32, 1.275), background-color 325ms ease;
                box-shadow: 0 14px 71px 0 rgba(35, 35, 35, 0.2);
            }
            .pricing-includes {
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                grid-column-gap: 18px;
                grid-row-gap: 18px;
                font-weight: 500;
                .include {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-weight: 500;
                    p {
                        margin: 0;
                    }
                }
            }
            .mostPop{
                width: fit-content;
                padding: 8px;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
                h1 {
                    margin: 0;
                    font-size: 0.7rem; 
                }
            }
            .mostPopFalse{
                visibility: hidden;
                width: fit-content;
                padding: 8px;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
                h1 {
                    margin: 0;
                    font-size: 0.7rem; 
                }
            }
            .pric {
                display: flex;
                align-items: center;
                font-weight: bold;
                justify-content: center;
                gap: 1rem;
                p {
                    font-size: 10px;
                    font-weight: 400;
                }
            }
            .pricFalse {
                visibility: hidden;
                display: flex;
                align-items: center;
                gap: 1rem;
                p {
                    font-size: 10px;
                }
            }
        }
    }
    .card-title {
        font-size: 1.5rem;
        color: #001A33;
        text-align: center;
        margin: 5px;
    }
}

.side-menu {
    z-index: 5;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #001a33;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #818181;

    .side-menu-block {

        margin-bottom: 40px;

        .side-menu-header {
            padding: 10px 25px;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
        }

        a {
            padding: 8px 25px;
            display: block;
            text-decoration: none;
            color: #818181;

            &:hover {
                color: #f1f1f1;
            }
        }
    }
}

.contact-us {
    text-align: center;

    h1 {
        margin: 0 !important;
    }

    p {
        padding: 0 3rem;
        margin-bottom: 60px;
    }

    a {
        right: 0;
        padding: 15px 35px;
        border-radius: 30px;
        color: white;
        border: none;
        text-decoration: none;
        background-color: #001a33;
        text-align: center;
    }
}

.footer {

    .footer-wrapper {
        display: flex;
        padding-top: 24px;
        justify-content: space-between;
        align-items: flex-start;

        .footer-brand {
            display: flex;
            max-width: 300px;
            flex-direction: column;
            align-items: flex-start;
            text-decoration: none;

            img {
                display: inline-block;
                max-width: 95px;
                vertical-align: middle;
            }

            p {
                margin: 15px 5px;
                font-family: Inter, sans-serif;
                color: #808d99;
                font-size: 16px;
                line-height: 1.4;
                font-weight: 400;
                text-decoration: none;
            }
        }

        .footer-content {
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 70px;
            grid-row-gap: 40px;
            grid-template-columns: auto auto 1fr;
            grid-template-rows: auto;

            .footer-block {
                grid-column-start: span 1;
                grid-column-end: span 1;
                grid-row-start: span 1;
                grid-row-end: span 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                grid-row-gap: 10px;

                .title-small {
                    margin-bottom: 12px;
                    font-size: 18px;
                    line-height: 1.2;
                    font-weight: 500;
                    letter-spacing: 0;
                    text-transform: uppercase;
                }

                .footer-link {
                    transition: color 475ms ease;
                    color: #7c8995;
                    font-size: 16px;
                    line-height: 1.2;
                    text-decoration: none;
                }
            }
        }
    }
}

.switch {
    position:relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #82A0D8;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0 black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }