html {
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.white-section {
  background-color: white;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.thin-border {
  border: 1px solid #ececec;
}

@keyframes slide-up-fade-in {
   0% {
     opacity: 0;
     transform: translateY(30px);
   }
   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }

.animated {
  opacity: 0;
  transform: translateY(30px);
}

.animated.active {
  animation: slide-up-fade-in 1s ease-out forwards;
}

h1.section-title {
  font-size: 3rem;
  margin: 0 0 2rem 0;
  text-align: center;
  padding: 0;
  color: #001A33;
}

.grey-text {
  color: #808d99;
}

.suscribe-btn {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  color: white;
  border: none;
  background-color: #82A0D8;
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
}

div.navbar {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(21px);

  .navbar-container {
    display: flex;
    height: 100%;
    padding: 0;
    align-items: center;

    .nav-button {
      display: none;
      border: none;
      background-color: rgba(211, 211, 211, 0);
    }

    > .navbar-holder {
      width: 100%;
      height: 100%;

      .brand {
        width: 95px;
      }

      .nav-brand {
        position: relative;
        float: left;
        text-decoration: none;
        display: flex;
        color: #333333;
        > .brand-image {
          width: 100%;
        }
      }

      .nav-menu {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        float: right;

        .nav-links-holder {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: flex-start;
          align-items: center;

          .nav-links-container {
            display: flex;
            height: 100%;
            justify-content: space-between;
            flex: 1;

            .nav-links {
              display: flex;
              height: 100%;
              padding-left: 70px;
              justify-content: flex-start;
              align-items: center;
              grid-column-gap: 30px;
              grid-row-gap: 30px;

              .nav-link {
                bottom: -1px;
                display: flex;
                height: 100%;
                padding: 0;
                justify-content: center;
                align-items: center;
                border-bottom: 3px solid hsla(0, 0%, 100%, 0);
                transition: border-color 600ms ease;
                font-family: 'Work Sans', sans-serif;
                font-size: 16px;
                position: relative;
                vertical-align: top;
                text-decoration: none;
                color: #7e7e7e;
                text-align: left;
                margin-left: auto;
                margin-right: auto;
              }
            }

            .nav-button-holder {
              display: flex;
              align-items: center;
              justify-content: center;

              .navbar-button {
                padding: 10px 36px;
                font-size: 16px;
                font-weight: 500;
                border-radius: 60px;
                background-color: #EF9595;
                transition: transform 525ms cubic-bezier(.175, .885, .32, 1.275), background-color 450ms ease;
                color: #fff;
                text-align: center;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

div.card-emoji {
  display: flex;
  width: 62px;
  height: 62px;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
  border-radius: 60px;
  background-color: #fbfbfb;
  box-shadow: 0 6px 71px 0 rgba(35, 35, 35, 0.09);
  text-align: center;

  > .emoji {
    font-size: 24px;
  }

  &:hover {
    transition: box-shadow 350ms ease, transform 375ms cubic-bezier(.175, .885, .32, 1.275), background-color 325ms ease;
    transform: scale(1.03);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }
}

.small-button {
  display: flex;
  padding: 5px 14px;
  align-items: center;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  border-radius: 50px;
  background-color: #82A0D8;
  color: #fff;
}