body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", cursive;
  background-color: rgba(211, 211, 211, 0.2509803922);
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.introduction h1 {
  text-align: center;
  color: #001A33;
  font-size: 4rem;
}
.introduction .introduction__demoImage {
  border: solid #001A33 9px;
  border-radius: 20px;
  max-width: 1100px;
  max-height: 584px;
}
.introduction .introduction__demoImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  max-width: 100% !important;
  padding: 4rem 2rem;
  background-color: white;
}
.offer h1 {
  text-align: left;
  color: #001A33;
  font-size: 3rem;
}
.offer div.offer-cards {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.offer div.offer-cards h2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}
.offer div.offer-cards .wide-card {
  display: flex;
  grid-column-start: span 2;
  grid-column-end: span 2;
  padding: 20px 40px 30px 20px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ececec;
  border-radius: 14px;
  background-color: #fbfbfb;
  box-shadow: 0 14px 17px 0 rgba(35, 35, 35, 0.05);
  transition: box-shadow 350ms ease, transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 325ms ease;
}
.offer div.offer-cards .wide-card:hover {
  background-color: white;
  transition: box-shadow 350ms ease, transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 325ms ease;
  box-shadow: 0 14px 71px 0 rgba(35, 35, 35, 0.2);
}
.offer div.offer-cards .wide-card .small-grey-card {
  max-width: 325px;
}
.offer div.offer-cards .wide-card .card-image-holder {
  max-width: 240px;
}
.offer div.offer-cards .wide-card .card-image-holder img {
  display: inline-block;
  max-width: 100%;
  border-radius: 10px;
}
.offer div.offer-cards .card {
  display: flex;
  justify-content: end;
  line-height: 1.5rem;
  flex-direction: column;
  padding: 30px 20px;
  box-shadow: rgba(100, 100, 111, 0.1) 0 7px 29px 0;
  background-color: #fbfbfb;
  border-radius: 15px;
}
.offer div.offer-cards .card:hover {
  background-color: white;
  transition: box-shadow 350ms ease, transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 325ms ease;
  box-shadow: 0 14px 71px 0 rgba(35, 35, 35, 0.2);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.product .features-holder {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 60px;
  grid-row-gap: 120px;
}
.product .features-holder .grid-layout-img-l {
  display: grid;
  grid-column-gap: 130px;
  grid-row-gap: 130px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: auto;
}
.product .features-holder .grid-layout-img-l .left-el {
  width: 100%;
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.product .features-holder .grid-layout-img-l .left-el::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
}
.product .features-holder .grid-layout-img-l .left-el .feature {
  width: 100%;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 10px;
}
.product .features-holder .grid-layout-img-l .right-el {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.product .features-holder .grid-layout-img-l .right-el .content .title {
  font-size: 22px;
  color: #001A33;
}
.product .features-holder .grid-layout-img-l .right-el .content .title h2 {
  margin: 0;
}
.product .features-holder .grid-layout-img-r {
  display: grid;
  grid-column-gap: 130px;
  grid-row-gap: 130px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: auto;
}
.product .features-holder .grid-layout-img-r .right-el {
  width: 100%;
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.product .features-holder .grid-layout-img-r .right-el::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
}
.product .features-holder .grid-layout-img-r .right-el .feature {
  width: 100%;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 10px;
}
.product .features-holder .grid-layout-img-r .left-el {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.product .features-holder .grid-layout-img-r .left-el .content .title {
  font-size: 22px;
  color: #001A33;
}
.product .features-holder .grid-layout-img-r .left-el .content .title h2 {
  margin: 0;
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem;
}
.pricing .modalSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pricing .modalSwitch .left {
  color: white;
  background-color: #82A0D8;
  padding: 0.9rem 1rem;
  border-radius: 20px;
}
.pricing .modalSwitch .left p {
  margin: 0;
  font-size: 13px;
}
.pricing .modalSwitch .right {
  padding: 0.9rem 1rem;
  border-radius: 20px;
}
.pricing .modalSwitch .right p {
  margin: 0;
  font-size: 13px;
}
.pricing .pricing__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
}
.pricing .pricing__card-container .pricing__card {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 14px;
  box-shadow: 0 14px 17px 0 rgba(35, 35, 35, 0.05);
  background-color: #fbfbfb;
}
.pricing .pricing__card-container .pricing__card:hover {
  background-color: white;
  transition: box-shadow 350ms ease, transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 325ms ease;
  box-shadow: 0 14px 71px 0 rgba(35, 35, 35, 0.2);
}
.pricing .pricing__card-container .pricing__card .pricing-includes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  font-weight: 500;
}
.pricing .pricing__card-container .pricing__card .pricing-includes .include {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.pricing .pricing__card-container .pricing__card .pricing-includes .include p {
  margin: 0;
}
.pricing .pricing__card-container .pricing__card .mostPop {
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.pricing .pricing__card-container .pricing__card .mostPop h1 {
  margin: 0;
  font-size: 0.7rem;
}
.pricing .pricing__card-container .pricing__card .mostPopFalse {
  visibility: hidden;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.pricing .pricing__card-container .pricing__card .mostPopFalse h1 {
  margin: 0;
  font-size: 0.7rem;
}
.pricing .pricing__card-container .pricing__card .pric {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  gap: 1rem;
}
.pricing .pricing__card-container .pricing__card .pric p {
  font-size: 10px;
  font-weight: 400;
}
.pricing .pricing__card-container .pricing__card .pricFalse {
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pricing .pricing__card-container .pricing__card .pricFalse p {
  font-size: 10px;
}
.pricing .card-title {
  font-size: 1.5rem;
  color: #001A33;
  text-align: center;
  margin: 5px;
}

.side-menu {
  z-index: 5;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #001a33;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #818181;
}
.side-menu .side-menu-block {
  margin-bottom: 40px;
}
.side-menu .side-menu-block .side-menu-header {
  padding: 10px 25px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
.side-menu .side-menu-block a {
  padding: 8px 25px;
  display: block;
  text-decoration: none;
  color: #818181;
}
.side-menu .side-menu-block a:hover {
  color: #f1f1f1;
}

.contact-us {
  text-align: center;
}
.contact-us h1 {
  margin: 0 !important;
}
.contact-us p {
  padding: 0 3rem;
  margin-bottom: 60px;
}
.contact-us a {
  right: 0;
  padding: 15px 35px;
  border-radius: 30px;
  color: white;
  border: none;
  text-decoration: none;
  background-color: #001a33;
  text-align: center;
}

.footer .footer-wrapper {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footer-wrapper .footer-brand {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}
.footer .footer-wrapper .footer-brand img {
  display: inline-block;
  max-width: 95px;
  vertical-align: middle;
}
.footer .footer-wrapper .footer-brand p {
  margin: 15px 5px;
  font-family: Inter, sans-serif;
  color: #808d99;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  text-decoration: none;
}
.footer .footer-wrapper .footer-content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
}
.footer .footer-wrapper .footer-content .footer-block {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row-gap: 10px;
}
.footer .footer-wrapper .footer-content .footer-block .title-small {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
}
.footer .footer-wrapper .footer-content .footer-block .footer-link {
  transition: color 475ms ease;
  color: #7c8995;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #82A0D8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 0 black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.white-section {
  background-color: white;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.thin-border {
  border: 1px solid #ececec;
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated {
  opacity: 0;
  transform: translateY(30px);
}

.animated.active {
  animation: slide-up-fade-in 1s ease-out forwards;
}

h1.section-title {
  font-size: 3rem;
  margin: 0 0 2rem 0;
  text-align: center;
  padding: 0;
  color: #001A33;
}

.grey-text {
  color: #808d99;
}

.suscribe-btn {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  color: white;
  border: none;
  background-color: #82A0D8;
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
}

div.navbar {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(21px);
}
div.navbar .navbar-container {
  display: flex;
  height: 100%;
  padding: 0 1rem;
  align-items: center;
}
div.navbar .navbar-container .nav-button {
  display: none;
  border: none;
  background-color: rgba(211, 211, 211, 0);
}
div.navbar .navbar-container > .navbar-holder {
  width: 100%;
  height: 100%;
}
div.navbar .navbar-container > .navbar-holder .brand {
  width: 95px;
}
div.navbar .navbar-container > .navbar-holder .nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  display: flex;
  color: #333333;
}
div.navbar .navbar-container > .navbar-holder .nav-brand > .brand-image {
  width: 100%;
}
div.navbar .navbar-container > .navbar-holder .nav-menu {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  float: right;
}
div.navbar .navbar-container > .navbar-holder .nav-menu .nav-links-holder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
div.navbar .navbar-container > .navbar-holder .nav-menu .nav-links-holder .nav-links-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex: 1;
}
div.navbar .navbar-container > .navbar-holder .nav-menu .nav-links-holder .nav-links-container .nav-links {
  display: flex;
  height: 100%;
  padding-left: 70px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
div.navbar .navbar-container > .navbar-holder .nav-menu .nav-links-holder .nav-links-container .nav-links .nav-link {
  bottom: -1px;
  display: flex;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid hsla(0, 0%, 100%, 0);
  transition: border-color 600ms ease;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #7e7e7e;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
div.navbar .navbar-container > .navbar-holder .nav-menu .nav-links-holder .nav-links-container .nav-button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.navbar .navbar-container > .navbar-holder .nav-menu .nav-links-holder .nav-links-container .nav-button-holder .navbar-button {
  padding: 10px 36px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 60px;
  background-color: #EF9595;
  transition: transform 525ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 450ms ease;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

div.card-emoji {
  display: flex;
  width: 62px;
  height: 62px;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
  border-radius: 60px;
  background-color: #fbfbfb;
  box-shadow: 0 6px 71px 0 rgba(35, 35, 35, 0.09);
  text-align: center;
}
div.card-emoji > .emoji {
  font-size: 24px;
}
div.card-emoji:hover {
  transition: box-shadow 350ms ease, transform 375ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 325ms ease;
  transform: scale(1.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.small-button {
  display: flex;
  padding: 5px 14px;
  align-items: center;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  border-radius: 50px;
  background-color: #82A0D8;
  color: #fff;
}

@media (max-width: 575px) {
  .navbar .container {
    padding: 0 1rem !important;
  }
  .navbar .container .navbar-container {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
  }
  .navbar .container .navbar-container .nav-menu {
    display: none !important;
  }
  .navbar .container .navbar-container .nav-menu .nav-links {
    height: auto;
    padding-left: 0;
    flex-direction: column;
    grid-row-gap: 20px;
  }
  .navbar .container .navbar-container .nav-button {
    display: flex;
    justify-content: end;
    cursor: pointer;
  }
  .navbar .container .navbar-container .nav-button .nav-icon {
    font-family: "webflow-icons", serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  .navbar .container .navbar-container .nav-button .nav-icon:before {
    content: "\e602";
  }
  .introduction.container {
    padding-top: 2rem;
  }
  .introduction h1.main-title {
    padding: 0 1rem;
    font-size: 2rem;
  }
  .introduction .introduction__demoImage {
    width: 340px;
    height: 200px;
  }
  h1.section-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .white-section {
    padding: 1rem 0 1rem;
    align-items: center;
  }
  .offer.container {
    padding: 2rem 1rem;
  }
  .offer .offer-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .offer .offer-cards .wide-card h2 {
    font-size: 1.6rem;
  }
  .offer .offer-cards .card {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  .offer .offer-cards .card h2 {
    font-size: 1.6rem;
  }
  .product {
    gap: 2rem;
    padding: 4rem 1rem 0;
  }
  .product .features-holder {
    grid-row-gap: 30px;
  }
  .product .features-holder div.title > h3 {
    font-size: 1.5rem;
  }
  .product .features-holder .grid-layout-img-l, .product .features-holder .grid-layout-img-r {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 14px 17px 0 rgba(35, 35, 35, 0.05);
    background-color: #fbfbfb;
  }
  .product .features-holder .grid-layout-img-l .left-el, .product .features-holder .grid-layout-img-l .right-el, .product .features-holder .grid-layout-img-r .left-el, .product .features-holder .grid-layout-img-r .right-el {
    grid-row-gap: 10px;
  }
  .product p {
    font-size: 0.8rem;
  }
  .pricing {
    gap: 1rem;
    padding: 4rem 1rem;
  }
  .pricing .pricing__card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .pricing .pricing__card-container .pricing-includes {
    padding-top: 20px;
  }
  .footer {
    padding-right: 1em;
    padding-left: 1em;
  }
  .footer .footer-wrapper {
    padding-right: 0;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .footer .footer-wrapper .footer-content {
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .contact-us {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar .container .navbar-container {
    padding: 0 0.5rem !important;
    display: flex;
    justify-content: space-between;
  }
  .navbar .container .navbar-container .nav-menu {
    display: none !important;
  }
  .navbar .container .navbar-container .nav-menu .nav-links {
    height: auto;
    padding-left: 0;
    flex-direction: column;
    grid-row-gap: 20px;
  }
  .navbar .container .navbar-container .nav-button {
    display: flex;
    justify-content: end;
    cursor: pointer;
  }
  .navbar .container .navbar-container .nav-button .nav-icon {
    font-family: "webflow-icons", serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  .navbar .container .navbar-container .nav-button .nav-icon:before {
    content: "\e602";
  }
  .introduction.container {
    padding-top: 2rem;
  }
  .introduction h1.main-title {
    padding: 0 2rem;
    font-size: 3rem;
  }
  .introduction .introduction__demoImage {
    width: 500px;
    height: 280px;
  }
  h1.section-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .white-section {
    padding: 1rem 2rem 2rem;
    align-items: center;
  }
  .offer.container {
    padding: 2rem 0;
  }
  .offer .offer-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .offer .offer-cards .card {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  .offer .offer-cards .card h2 {
    font-size: 1.6rem;
  }
  .product {
    gap: 2rem;
    padding: 4rem 2rem 0;
  }
  .product .features-holder {
    grid-row-gap: 30px;
  }
  .product .features-holder div.title > h3 {
    font-size: 1.5rem;
  }
  .product .features-holder .grid-layout-img-l, .product .features-holder .grid-layout-img-r {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 14px 17px 0 rgba(35, 35, 35, 0.05);
    background-color: #fbfbfb;
  }
  .product .features-holder .grid-layout-img-l .left-el, .product .features-holder .grid-layout-img-l .right-el, .product .features-holder .grid-layout-img-r .left-el, .product .features-holder .grid-layout-img-r .right-el {
    grid-row-gap: 10px;
  }
  .product p {
    font-size: 0.8rem;
  }
  .pricing {
    gap: 1rem;
    padding: 4rem 2rem;
  }
  .pricing .pricing__card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .pricing .pricing__card-container .pricing-includes {
    padding-top: 20px;
  }
  .footer .footer-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .nav-links > a {
    font-size: 14px !important;
  }
  .introduction h1.main-title {
    padding: 0 2rem;
    font-size: 3rem;
  }
  .introduction .introduction__demoImage {
    width: 650px;
    height: 360px;
  }
  h1.section-title {
    font-size: 2.2rem;
  }
  .white-section {
    padding: 2rem 0 4rem;
  }
  .offer .offer-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .offer .offer-cards .card > h2 {
    font-size: 1.6rem;
  }
  .product {
    gap: 2rem;
    padding: 2rem;
  }
  .product .features-holder div.title > h3 {
    font-size: 1.5rem;
  }
  .product .features-holder .grid-layout-img-l, .product .features-holder .grid-layout-img-r {
    grid-column-gap: 30px;
  }
  .product .features-holder .grid-layout-img-l .left-el, .product .features-holder .grid-layout-img-l .right-el, .product .features-holder .grid-layout-img-r .left-el, .product .features-holder .grid-layout-img-r .right-el {
    grid-row-gap: 10px;
  }
  .product p {
    font-size: 0.8rem;
  }
  .pricing {
    gap: 1rem;
    padding: 4rem 2rem;
  }
  .pricing .pricing__card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .pricing .pricing__card-container .pricing-includes {
    padding-top: 20px;
  }
  .footer .footer-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 2rem;
  }
  .introduction h1.main-title {
    padding: 0 2rem;
  }
  .introduction .introduction__demoImage {
    width: 850px;
    height: 460px;
  }
  h1.section-title {
    font-size: 2.5rem;
  }
  .product {
    gap: 2rem;
  }
  .product .features-holder > .grid-layout-img-l, .product .features-holder > .grid-layout-img-r {
    grid-column-gap: 80px;
  }
  .product .features-holder > .grid-layout-img-l .left-el, .product .features-holder > .grid-layout-img-l .right-el, .product .features-holder > .grid-layout-img-r .left-el, .product .features-holder > .grid-layout-img-r .right-el {
    grid-row-gap: 20px;
  }
  .product p {
    font-size: 0.8rem;
  }
  .pricing {
    gap: 1rem;
  }
  .white-section {
    padding: 2rem 0 4rem;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .product {
    padding: 4rem;
    gap: 2rem;
  }
  .white-section {
    padding: 2rem 2rem 4rem;
  }
}
@media screen and (min-width: 1441px) {
  .container {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=main.css.map */
