@media (max-width: 575px) {

  .container-article {
    padding: 1rem;
  }

  .navbar {

    .container {
      padding: 0 1rem !important;

      .navbar-container {
        padding: 0 !important;
        display: flex;
        justify-content: space-between;

        .nav-menu {
          display: none !important;

          .nav-links {
            height: auto;
            padding-left: 0;
            flex-direction: column;
            grid-row-gap: 20px;
          }
        }

        .nav-button {
          display: flex;
          justify-content: end;
          cursor: pointer;

          .nav-icon {
            font-family: 'webflow-icons', serif !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;

            &:before {
              content: "\e602";
            }
          }
        }
      }
    }
  }

  .introduction {

    &.container { padding-top: 2rem; }
    h1.main-title {
      padding: 0 1rem;
      font-size: 2rem;
    }

    .introduction__demoImage {
      width: 340px;
      height: 200px;
    }
  }

  h1.section-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .white-section {
    padding: 1rem 0 1rem;
    align-items: center;
  }

  .offer {

    &.container {
      padding : 2rem 1rem;
    }

    .offer-cards {
      grid-template-columns: repeat(1, 1fr) !important;

      .wide-card {
        h2 {
          font-size: 1.6rem;
        }
      }

      .card {
        grid-column-start: span 2;
        grid-column-end: span 2;
        grid-row-start: span 1;
        grid-row-end: span 1;

        h2 {
          font-size: 1.6rem;
        }
      }
    }
  }

  .product {
    gap: 2rem;
    padding: 4rem 1rem 0;

    .features-holder {
      grid-row-gap: 30px;

      div.title > h3 {
        font-size: 1.5rem;
      }

      .grid-layout-img-l, .grid-layout-img-r {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 1fr;
        padding: 1rem;
        border-radius: 14px;
        box-shadow: 0 14px 17px 0 rgba(35, 35, 35, 0.05);
        background-color: #fbfbfb;

        .left-el, .right-el {
          grid-row-gap: 10px;
        }
      }
    }

    p {
      font-size: 0.8rem;
    }
  }

  .pricing {
    gap: 1rem;
    padding: 4rem 1rem;

    .pricing__card-container {
      grid-template-columns: repeat(1, 1fr);

      .pricing-includes {
        padding-top: 20px;
      }
    }
  }

  .footer {
    padding-right: 1em;
    padding-left: 1em;

    .footer-wrapper {
      padding-right: 0;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      .footer-content {
        margin-top: 40px;
        grid-template-columns: 1fr 1fr;
        text-align: left;
      }
    }
  }

  .contact-us {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  .container-article {
    padding: 3rem;
  }

  .navbar {

    .container {

      .navbar-container {
        padding: 0 0.5rem !important;
        display: flex;
        justify-content: space-between;

        .nav-menu {
          display: none !important;

          .nav-links {
            height: auto;
            padding-left: 0;
            flex-direction: column;
            grid-row-gap: 20px;
          }
        }

        .nav-button {
          display: flex;
          justify-content: end;
          cursor: pointer;

          .nav-icon {
            font-family: 'webflow-icons', serif !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;

            &:before {
              content: "\e602";
            }
          }
        }
      }
    }
  }

  .introduction {

    &.container { padding-top: 2rem; }

    h1.main-title {
      padding: 0 2rem;
      font-size: 3rem;
    }

    .introduction__demoImage {
      width: 500px;
      height: 280px;
    }
  }

  h1.section-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .white-section {
    padding: 1rem 2rem 2rem;
    align-items: center;
  }

  .offer {

    &.container {
      padding : 2rem 0;
    }

    .offer-cards {
      grid-template-columns: repeat(1, 1fr) !important;

      .card {
        grid-column-start: span 2;
        grid-column-end: span 2;
        grid-row-start: span 1;
        grid-row-end: span 1;

        h2 {
          font-size: 1.6rem;
        }
      }
    }
  }

  .product {
    gap: 2rem;
    padding: 4rem 2rem 0;

    .features-holder {
      grid-row-gap: 30px;

      div.title > h3 {
        font-size: 1.5rem;
      }

      .grid-layout-img-l, .grid-layout-img-r {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 1fr;
        padding: 2rem;
        border-radius: 14px;
        box-shadow: 0 14px 17px 0 rgba(35, 35, 35, 0.05);
        background-color: #fbfbfb;

        .left-el, .right-el {
          grid-row-gap: 10px;
        }
      }
    }

    p {
      font-size: 0.8rem;
    }
  }

  .pricing {
    gap: 1rem;
    padding: 4rem 2rem;

    .pricing__card-container {
      grid-template-columns: repeat(1, 1fr);

      .pricing-includes {
        padding-top: 20px;
      }
    }
  }

  .footer {
    .footer-wrapper {
      padding: 2rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .container-article {
    padding: 4rem;
  }

  .nav-links > a {
    font-size: 14px !important;
  }

  .introduction {
    h1.main-title {
      padding: 0 2rem;
      font-size: 3rem;
    }

    .introduction__demoImage {
      width: 650px;
      height: 360px;
    }
  }

  h1.section-title {
    font-size: 2.2rem;
  }

  .white-section {
    padding: 2rem 0 4rem;
  }

  .offer {

    .offer-cards {
      grid-template-columns: repeat(2, 1fr) !important;

      .card > h2 {
        font-size: 1.6rem;
      }
    }
  }

  .product {
    gap: 2rem;
    padding: 2rem;

    .features-holder {

      div.title > h3 {
        font-size: 1.5rem;
      }

      .grid-layout-img-l, .grid-layout-img-r {
        grid-column-gap: 30px;

        .left-el, .right-el {
          grid-row-gap: 10px;
        }
      }
    }

    p {
      font-size: 0.8rem;
    }
  }

  .pricing {
    gap: 1rem;
    padding: 4rem 2rem;

    .pricing__card-container {
      grid-template-columns: repeat(1, 1fr);

      .pricing-includes {
        padding-top: 20px;
      }
    }
  }

  .footer {
    .footer-wrapper {
      padding: 2rem;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container, .container-article {
    padding: 2rem;
  }

  .introduction {
    h1.main-title {
      padding: 0 2rem;
    }

    .introduction__demoImage {
      width: 850px;
      height: 460px;
    }
  }

  h1.section-title {
    font-size: 2.5rem;
  }

  .product {
    gap: 2rem;

    .features-holder > .grid-layout-img-l, .features-holder > .grid-layout-img-r {
      grid-column-gap: 80px;

      .left-el, .right-el {
        grid-row-gap: 20px;
      }
    }

    p {
      font-size: 0.8rem;
    }
  }

  .pricing {
    gap: 1rem;
  }

  .white-section {
    padding: 2rem 0 4rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {

  .product {
    padding: 4rem;
    gap: 2rem;
  }

  .white-section {
    padding: 2rem 2rem 4rem;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 1200px;
  }
}
